body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 60px 0;
}

#index_body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 0;
}

.margem {
    height: 50px;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

img.img-thumbnail {
    width: 250px;
    height: 300px;
}

#country {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2); 
}
 

#flag {
    height: 125px;
  }

#athlete {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2); 
}
 

#athlete_photo {
    height: 175px;
    transition: transform 0.2s ease-in-out;
  }
  
  @media (max-width: 500px) {
    #athlete_photo {
      width: 100%;
      height: 250px;
    }
  }

  
#athlete_photo:hover {
    transform: scale(1.1);
}


#banner {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: #f5f5f5; 
    background-image: url("/wwwroot/Projeto/Images/olympicgames_background.jpg");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;

}
  
#scroll-button {
    background-color: #3498db; 
    border: none; 
    color: white;
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 50%;
    height: 50px;
}
  
#scroll-button:hover {
    background-color: #2980b9; 
}
  

h1 {
    color: #000080;
}


#logo_game {
    height: 250px;
}

.modalities {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.modality {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
  
.modality:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    transform: scale(1.1);
  }
  
  .modality:hover img {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

.modality:nth-of-type(5n+1):hover,
.modality:nth-of-type(5n+6):hover {
  background-color: #2649c7; 
}

.modality:nth-of-type(5n+2):hover,
.modality:nth-of-type(5n+7):hover {
  background-color: #ffd700; 
}

.modality:nth-of-type(5n+3):hover,
.modality:nth-of-type(5n+8):hover {
  background-color: #3f3e3e; 
}

.modality:nth-of-type(5n+4):hover,
.modality:nth-of-type(5n+9):hover {
  background-color: #228b22; 
}

.modality:nth-of-type(5n+5):hover,
.modality:nth-of-type(5n+10):hover {
  background-color: #ff4500; 
}

.modality img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
  