body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 60px 0;
}

#index_body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 0;
}

.margem {
    height: 50px;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

img.img-thumbnail {
    height: 300px;
    object-fit: contain;
}

#country {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2); 
}
 

#flag {
  height: 125px;
  transition: transform 0.2s ease-in-out;
  object-fit: contain;
}

#flag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#athlete {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2); 
}
 

#athlete_photo {
  height: 175px;
  transition: transform 0.2s ease-in-out;
}

#athlete_photo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#athlete_photo_games {
  height: 100px;
  transition: transform 0.2s ease-in-out;
}

#athlete_photo_games:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#banner {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: #f5f5f5; 
  background-image: url("/wwwroot/Projeto/Images/olympicgames_background.jpg");
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

#logo_game {
  height: 250px;
  object-fit: contain;
}

.modalities {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.modality {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
  
.modality:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.1);
}
  
.modality:hover img {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  

.modality:nth-of-type(5n+1):hover,
.modality:nth-of-type(5n+6):hover {
  background-color: #2649c7; 
}

.modality:nth-of-type(5n+2):hover,
.modality:nth-of-type(5n+7):hover {
  background-color: #ffd700; 
}

.modality:nth-of-type(5n+3):hover,
.modality:nth-of-type(5n+8):hover {
  background-color: #3f3e3e; 
}

.modality:nth-of-type(5n+4):hover,
.modality:nth-of-type(5n+9):hover {
  background-color: #228b22; 
}

.modality:nth-of-type(5n+5):hover,
.modality:nth-of-type(5n+10):hover {
  background-color: #ff4500; 
}

.modality img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
  

::-webkit-scrollbar {
    width: 12px; /* Width of the scroll bar */
    background-color: #f5f5f5; /* Background color of the scroll bar */
  }
  
  /* Style the thumb (the part of the scroll bar that you can drag) */
::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Rounded corners of the thumb */
    background-color: #2649c7; /* Color of the thumb */
}

.competition { /*competition item from modalities modal page*/
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
}

.competition:hover {
  background-color: #2649c7;
  color: white;
}

#card-modality {
  transition: 0.3s;
  border-radius: 5px;
}

#card-modality:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#card-header-modality {
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
}

#card-header-modality h5 {
  font-weight: bold;
}

#card-body-competitions {
  padding: 20px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #2649c7;
  color: white;
}

#medal {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2); 
}

#card-games {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
  transition: transform 0.2s ease-in-out;
}

#card-games:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /* apply styles for screens with a width of 600px or less */
  #athlete_photo {
    height: 185px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  /* apply styles for screens with a width between 601px and 900px */
  #athlete_photo {
    height: 100px;
  }
}

@media screen and (min-width: 901px)  and (max-width: 1200px){
  /* apply styles for screens with a width of 901px or more */
  #athlete_photo {
    height: 85px;
  }

}

#scroll-button {
  display: inline-block;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

#scroll-button:hover .bottom{
  border: 0.5em solid #e74c3c;
  cursor: pointer;
  transform: scale(1.2);
}

#scroll-button:hover .bottom:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  margin-left: 0.8rem;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#button-container {
  margin-top: 40%;
}


#search-bar {
  width: 80%;
  height: 50px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
}


#search-button {
  height: 50px;
  width: 10%;
  border: 0;
  border-radius: 6rem;
}

#search-box{
  opacity: 80%;
  display: flex;
  align-items: center;
  border-radius: 6rem;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}
